.task-list {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #111;
  padding: 20px;
}

.task-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-list-header h2 {
  font-size: 28px;
  margin: 0;
}

.task-list-header button {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ff3d00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.task-list-header button:hover {
  background-color: #e64a19;
}

.task {
  margin-bottom: 20px;
}

.task-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-input input {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  border: none;
  flex-grow: 1;
  margin-right: 10px;
}

.task-input input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff3d00;
}

.task-separator {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.task-separator hr {
  border: none;
  border-top: 1px dashed #444;
  color: #fff;
  width: 70%;
}

.subtask {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subtask input {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  border: none;
  flex-grow: 1;
  margin-right: 10px;
}

.subtask input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff3d00;
}

.task-buttons,
.subtask-buttons {
  display: flex;
}

.add-subtask-button,
.add-subtask-button:hover,
.remove-task-button,
.remove-task-button:hover,
.remove-subtask-button,
.remove-subtask-button:hover,
.add-subtask-button:focus,
.remove-task-button:focus,
.remove-subtask-button:focus {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.add-subtask-button:hover,
.remove-task-button:hover,
.remove-subtask-button:hover,
.add-subtask-button:focus,
.remove-task-button:focus,
.remove-subtask-button:focus {
  color: #ff3d00;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.calendar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  z-index: 2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-container h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}