/* Estilos gerais da página */ 
body {
  background-color: #2b2d42;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

/* Estilos do título */
.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 1px 1px #f00,
               2px 2px #f00,
               3px 3px #f00,
               4px 4px #f00,
               5px 5px #f00,
               6px 6px #f00,
               7px 7px #f00,
               8px 8px #f00;
}
